// color
$primaryColor: #d03958;
$secondaryColor: #e3d5b8;
$primaryTextColor: #161616;
$secondaryTextColor: #fff;

// font
$fontSize: 20px;
$mainFont: "PT Serif", serif;
$secondaryFont: "Montserrat", sans-serif;